footer {
    background-color: #000000;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: calc(100%-200px);
    min-width: 1200px;
}

footer .footer-content {
    height: 175px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 100px;
}

footer .slidercontainer {
    height: 25px;
    bottom: 0;
    left: 200px;
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer #current-time {
    color: #f2cee2;
    position: absolute;
    bottom: 42px;
    /* left: calc(17.8% + 200px ); */
    right: 70%;
}

footer #duration {
    color: #f2cee2;
    position: absolute;
    bottom: 42px;
    left: calc(70% + 200px );
}

footer .cover {
    float:left;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 200px;
    background-color: #716573;
}

footer #cover {
    height: 200px;
    width: 200px;
}

footer #play {
    background-color: transparent;
    font-size: 40px;
    padding: 5px;
    margin: 10px;
}

footer #pause {
    background-color: transparent;
    font-size: 40px;
    padding: 5px;
    margin: 10px;
    
}

footer #sigant {
    background-color: transparent;
    font-size: 30px;
    padding: 5px;

}

footer #like {
    background-color: transparent;
    font-size: 25px;
    padding: 5px;
    margin: 10px;
    position: absolute;
    left: 225px;
    bottom: 73px;
}

footer #volumen {
    position: absolute;
    right: 25px;
}

footer #vol {
    position: absolute;
    right: 160px;
    color: #f2cee2;
    font-size: 23px;
    padding: 5px;
}

footer i {
    color: #f2cee2;
}

footer i:hover {
    color: #fa79c0;
}

footer #shuffle {
    visibility: hidden;
    display: none;
}

footer #shuf {
    background-color: transparent;
    font-size: 25px;
    padding: 5px;
    color: #f2cee2;
    margin: 5px;
}

footer #shuf:checked {
    background-color: transparent;
    font-size: 25px;
    padding: 5px;
    color: #fa79c0;
    margin: 5px;
}

footer #shuf:hover {
    background-color: transparent;
    font-size: 25px;
    padding: 5px;
    color: #fa79c0 ;
}

footer #repeat {
    visibility: hidden;
    display: none;
}

footer #rep {
    background-color: transparent;
    font-size: 25px;
    padding: 5px;
    color: #f2cee2;
    margin: 5px;
}

footer #rep:hover {
    background-color: transparent;
    font-size: 25px;
    padding: 5px;
    color: #fa79c0 ;
}

footer #duracion {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    border-radius: 5px;
    background: #fcfcfc;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    height: 5px;
    position: absolute;
    bottom: 50px;
}

footer #volumen {
    -webkit-appearance: none;
    appearance: none;
    width: 125px;
    border-radius: 5px;
    background: #fcfcfc;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    height: 5px;
}

footer .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: #fa79c0;
    cursor: pointer;
}



